body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 40px;
    background-color: #F4FAFF;
    color: #3D3F66;
}

header {
    text-align: center;
    background-color: #202336;
    color: #A5A0B7;
    padding: 20px;
    line-height:40px
}

footer {
    background-color: #202336;
    color: #A5A0B7;
    padding: 10px;
    text-align: center;
    
}

header a,
nav ul li a {
    color: #A5A0B7;
    text-decoration: none;
    transition: font-size .3s ease-in-out;
}

header a:hover,
nav ul li a:hover {
    font-size: 22px; 
}

.shadow {
    text-shadow: 5px 4px 3px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}


.headerlogo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    border-radius: 10px;
    transition:transform 0.3s ease-in-out;
}

.headerlogo:hover{
    transform: scale(1.05);
}

.gallery {
    display:flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding:10px;
}

.gallery img {
    width: 100%;
    height: 450px;
    cursor: pointer;
    border-radius: 5px;   
}

.image-border{
    padding:7px;
    width:400px;
    height:500px;
    background-color: #292943;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    overflow:hidden;
}

.image-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .2s linear;
}

.image-border:hover {
    box-shadow: 0 0 10px 5px #A5A0B7;
}

.container .gallery .image-border:hover img{
    transform: scale(1.015);
}

.container .popup-image{
   position:fixed;
   top:0;
   left:0;
   background: rgba(0, 0, 0, 0.9);
   height:100%;
   width: 100%;
   z-index: 100;
   display:none;
}

.container .popup-image span{
    position:absolute;
    top:0;
    right:10px;
    font-size: 40px;
    font-weight:bolder;
    color:#fff;
    cursor:pointer;
    z-index: 100;

}

.container .popup-image img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 5px solid #0F3247;
    border-radius: 5px;
    width:750px;
    object-fit: cover;
}

@media (max-width:768px){
    .container .popup-image img{
        width:95%;
    }
}

@media (max-width:960px){
    header {
        padding-top:90px;
    }
}

.commisionex{
    width:400px;
    border:5px solid #0F3247;
    border-radius: 5px;
    margin-left: 32px;
}

.comissionprice{
    font-size: 20px;
    font-weight: bolder;
}

#commission-options select {
    font-size: 13px;
    padding:7px;
    border: 2px solid #0F3247;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #3D3F66;    
}

#futureprojs .container .gallery {
    display: block; /* Ensure each image container occupies a new line */
}

#futureprojs .container .gallery .image-border {
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto 20px; 
}

#futureprojs .container .gallery .image-border img {
    width: 100%; 
    display: block; 
    border-radius: 5px; 
}

.journalheader{
    text-align: center;
}

.contact-info, .social-media {
    margin-bottom: 30px;
}

.social-media ul {
    padding: 0;
    text-align: center;
}

.social-media ul li {
    display: inline;
    margin-right: 10px;
    padding:20px;
}

.socials{
    width:100px;
    transition:transform 0.3s ease-in-out;
}

.socials:hover{
    transform: scale(1.05);
}

.intropic{
    width:300px;
    display: block;
    margin:0 auto;
    border-radius: 20px;

}

.image-border-static{
    padding:7px;
    background-color: #292943;
    border-radius: 40px;
}

footer a{
    color: #A5A0B7;
    text-decoration: none;
}

footer a:hover{
    color:#3D3F66;
}

footer img{
    padding-left: 25px;
    transition:transform 0.3s ease-in-out;  
}

footer img:hover{
    transform: scale(1.05);
}

.certification a{
    text-decoration: underline;

}