body{
    background-color:rgb(66,69,73);
    text-align: center;
    color:black ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: rgb(141, 108, 76);
}

a:hover{
    color:rgb(66, 7, 7);

}

main{
    text-align: center;
    margin-left:20%;
    margin-right:20%;
}

h2{
    text-align: center;
}

figcaption{
    font-style: italic;
    font-weight: 500;
}

li{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

img{
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

.complex tr:nth-child(even) {
    background-color: #777;
    color: #fff; 
}
