<div class="header">
    <h1 class="header shadow">Somnia Studios</h1>
    <a href="index.html"><img src="../images/SS_Icon.jpg" class="headerlogo"alt="headerlogo"></a>
    <nav>
        <ul class="header shadow">
            <li><a href="gallery.html">Gallery</a></li> 
            <li><a href="commissions.html">Commisions</a></li>
            <li><a href="futureprojs.html">Future Projects</a></li>
            <li><a href="community.html">Community</a></li>
            <li><a href="contact.html">Contact Me!</a></li>
        </ul>
    </nav>
</div>