<h1>Kiran Patil's Keen Panther || ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="tables.html">Tables</a>
            ||
            <a href="forms.html">Forms</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="firstscripts.html">First Scripts</a>
            ||
            <a href = "about.html">About</a>
            ||
            <a href = "byo_intro.html">Build Your Own Intro</a>
            ||
            <a href = "projectoverview.html">Project Overview</a>
            
            

            
        </nav>
        <nav class="misc-sites">
            <a href="THE GREATEST SITE ON EARTH$$.html">The Greatest site on Earth</a>
            ()
            <a href= "hobby/" target="_blank">Hobby</a>
            <button type = "button" onclick = 	"document.querySelectorAll('link[rel=stylesheet]').forEach(function(e)	{e.setAttribute('href', '');});">No CSS</button>
        </nav>
